<h2><%= @product.name %></h2>

<p><img src="<%= @product.image_url %>" alt="<%= @product.name %>" height="300" width="300"></p>
<p><strong>Rating:</strong> <%= @product.rating %></p>
<br>
<br>
<p><strong>Description:</strong> <%= @product.description %></p>
<br>
<br>
<a href="/reviews/new">Review This Product</a>
<br>
<br>

<% if authorized_to_edit?(@product) %>

<a href="/products/<%= @product.id %>/edit">Edit Product Info</a>
<br>
<br>
<form action="/products/<%= @product.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete This Product">
</form>

<% end %>
